@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color:#eee;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.ProseMirror *,
.toastui-editor-md-preview div *{
    color:#eee !important;
}
.toastui-editor-popup-body {
    color: #161616
}